extends layout

block content
  script.
    window.albumImages = !{JSON.stringify(albumImages)}
  .center-view
    .image-container
      span.cursor-pointer(onclick='previousImage()') &#9665
        img(src='/images/large/' + selectedImage.fileName, alt=selectedImage['name_' + i18n.getLocale()])
      span.cursor-pointer(onclick='nextImage()') &#9655
      br
      span.title #{selectedImage['name_' + i18n.getLocale()]} - 
      span.title.gray #{selectedImage.size}, #{selectedImage.year}
  if albumImages
    .image-list
      each image in albumImages
        span
          a(href= '/' + i18n.getLocale() + currentUrl + '/' + image.fileName.replace('.jpg', ''))
            img(src='/images/thumb/' + image.fileName, alt=image['name_' + i18n.getLocale()])
