extends layout

block content
  .center-view
    .exhibitions
      div
        header.header Exhibitions
        img(src='images/exhibition.jpg', alt='')
        .exhibitions-text
          span.red 2016 - 
            span #{i18n.__('"From Avant-garde to Avant-garde" Sargis Muradyan gallery (Yerevan, Armenia)')}
          br
          span.red 2016 - 
            span #{i18n.__(' "Cuculus canorus" Silva Kaputikyan museum (Yerevan, Armenia)')}
          br
          span.red 2015 - 
            span #{i18n.__('"Imagining new Eurasia" Asia Art Center (South Korea)')}
          br
          span.red 2015 - 
            span #{i18n.__('"No Exit" ACCEA, Yerevan')}
          br
          span.red 2015 - 
            span #{i18n.__('"Shkaf" Art Laboratory space (Yerevan, Armenia)')}
          br
          span.red 2014 - 
            span #{i18n.__('XVIII Annual Festival of Alternative Art, ACCEA (Yerevan, Armenia)')}
          br
          span.red 2014 - 
            span #{i18n.__('"Yerevan Museum of Future History"Art Laboratory space,Yerevan')}
          br
          span.red 2013 - 
            span #{i18n.__('XVII Annual Festival of Alternative Art, ACCEA (Yerevan, Armenia)')}
          br
          span.red 2013 - 
            span #{i18n.__('"East to West, Modern to Post Modern" Modern Art Museum (Yerevan, Armenia)')}
          br
          span.red 2013 - 
            span #{i18n.__('"Armenian contemporary artists" Cultural center of Padova (Italy)')}
          br
          span.red 2012 - 
            span #{i18n.__('"Crisis" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2012 - 
            span #{i18n.__('"Undergo. The Parallels" festival organized by Geo Air (Tbilisi, Georgia)')}
          br
          span.red 2012 - 
            span #{i18n.__('"Tumanyan readings" Museum after Tumanyan (Yerevan, Armenia)')}
          br
          span.red 2012 - 
            span #{i18n.__('"Bare life" Karen Demirchyan museum (Yerevan, Armenia)')}
          br
          span.red 2012 - 
            span #{i18n.__('"Tumanyan readings" Tumanyan house museum (Yerevan, Armenia)')}
          br
          span.red 2011 - 
            span #{i18n.__('"Exhibition of contemporary Armenian Art" Artists Union (Yerevan, Armenia)')}
          br
          span.red 2010 - 
            span #{i18n.__('"Toy of the Idle Time" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2009 - 
            span #{i18n.__('"Body Investments" Solo Exhibition ACCEA (Yerevan, Armenia)')}
          br
          span.red 2009 - 
            span #{i18n.__('"UND PLATFORM" Polly-Gallery (Karlsruhe, Germany)')}
          br
          span.red 2008 - 
            span #{i18n.__('"Resistance" Mkhitar Sebastaci Educational Complex (Yerevan, Armenia)')}
          br
          span.red 2008 - 
            span #{i18n.__('"Resistance" Mkhitar Sebastaci Educational Complex (Yerevan, Armenia)')}
          br
          span.red 2008 - 
            span #{i18n.__('"Portrait between modernism and innovation" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2007 - 
            span #{i18n.__('"Non standard № 2" Charents Museum (Yerevan, Armenia)')}
          br
          span.red 2007 - 
            span #{i18n.__('"Armenian international style" Akanat gallery (Yerevan, Armenia)')}
          br
          span.red 2007 - 
            span #{i18n.__('"Affirmative images" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2007 - 
            span #{i18n.__('"Yerevan Crisis" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2007 - 
            span #{i18n.__('"No Standart" Museum After Egishe Charents (Yerevan, Armenia)')}
          br
          span.red 2006 - 
            span #{i18n.__('"Real Utopias" Solo Exhibition ACCEA (Yerevan, Armenia)')}
          br
          span.red 2005 - 
            span #{i18n.__('"Liberte Egalite Fraternite" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2005 - 
            span #{i18n.__('"Photo+" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2005 - 
            span #{i18n.__('"Society Body Art" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2004 - 
            span #{i18n.__('"Dream in Dialogue" ACCEA, (Yerevan, Armenia)')}
          br
          span.red 2003 - 
            span #{i18n.__('"OOPS!!" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2003 - 
            span #{i18n.__('"Antifreeze" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2002 - 
            span #{i18n.__('"Affirmative Art" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2001 - 
            span #{i18n.__('"Exhibition Dedicated to Toumanian" Toumanian Museum (Yerevan,Armenia)')}
          br
          span.red 1999 - 
            span #{i18n.__('"Embryo" AOKS (Yerevan, Armenia)')}
          br
          span.red 1998 - 
            span #{i18n.__('Young Painters exhibitions (Rostok, Germany)')}
          br
          span.red 1993 - 
            span #{i18n.__('All Armenian exhibition "Gifted Children" (Yerevan, Armenia)')}
          br
          span.red 1992 - 
            span #{i18n.__('National Children Museum (Yerevan, Armenia)')}
          br
          br


