extends layout

block content
  .center-view
    .exhibitions
      div
        header.header Solo Exhibitions
        img(src='images/exhibition.jpg', alt='')
        .exhibitions-text
          span.red 2021 - 
            span #{i18n.__('"Sevan" Cafesjian Center for the Arts (Yerevan, Armenia)')}
          br
          span.red 2016 - 
            span #{i18n.__('"From Avant-garde to Avant-garde" Sargis Muradyan gallery (Yerevan, Armenia)')}
          br
          span.red 2009 - 
            span #{i18n.__('"Body Investments" ACCEA (Yerevan, Armenia)')}
          br
          span.red 2006 - 
            span #{i18n.__('"Real Utopias" ACCEA (Yerevan, Armenia)')}
          br
          br
          span #{i18n.__('Karen Ohanyan took part in many collective exhibitions, as well.')}
          br
          br
