doctype html
html(lang=i18n.getLocale())
  head
    title=i18n.__('Karen Ohanyan')

    meta(name='google-site-verification', content='N2Noa0lA-SgD9RJVD_9LC_8KaAYKus2xrUumu2yTQpI')
    meta(name="yandex-verification" content="a4a868b7e61344c8")
    meta(name="msvalidate.01" content="3D1163D51A19A22585EB995BD429F589")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')

    meta(name="title" content=i18n.__('Karen Ohanyan'))
    meta(name="description" content=i18n.__('Biographic site of Karen Ohanyan, selected works, exhibitions and some articles about him.'))

    meta(itemprop='name', content=i18n.__('Karen Ohanyan'))
    meta(itemprop='description', content=i18n.__('Biographic site of Karen Ohanyan, selected works, exhibitions and some articles about him.'))

    meta(property='og:title', content=i18n.__('Karen Ohanyan'))
    meta(property='og:url', content='https://karenohanyan.com/')
    meta(property='og:image', content='https://karenohanyan.com/images/The-Origin-of-the-World.jpg')
    meta(property='og:description', content=i18n.__("Karen Ohanyan's biography, selected works, exhibitions and some articles."))
    style !{css}
    script(type="application/ld+json").
       [{ "@context": "http://schema.org",
          "@type": "Person",
          "email": "mailto:karenohanyan@yahoo.com",
          "homeLocation": "#{i18n.__('Yerevan')}",
          "image": "https://karenohanyan.com/en/images/Karen-Ohanyan.jpg",
          "jobTitle": "#{i18n.__('Painter')}",
          "name": "#{i18n.__('Karen Ohanyan')}",
          "url": "http://www.karenohanyan.com" }]
    script(src="https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js" async)
    script.
      var galite = galite || {}
      galite.UA = 'UA-85417314-1'
  body
    a.hamburger(data-ng-click='show.menu = !show.menu')
      hr
      hr
      hr
    .main-container
      nav.menu(style="visibility:hidden;")
        span.language-bar
          .space
          a.no-underline.red(href='/hy' + url, hreflang='hy') հայ
          a.no-underline.red(href='/en' + url, hreflang='en') eng
          a.no-underline.red(href='/ru' + url, hreflang='ru') рус
        header.header
          a(href='/' + i18n.getLocale())
            h1.cursor-pointer #{i18n.__('Karen Ohanyan')}
        br
        ul.parent-menu
          li
            a(href='/' + i18n.getLocale()) #{i18n.__('Home')}
          li#works-submenu
            a.cursor-pointer #{i18n.__('Works')}
            ul.submenu
              each album in albums
                li()
                  a.work(href='/' + i18n.getLocale() + '/' + album.href + '/' + album.defaultImage) #{album['name_' + i18n.getLocale()]}
          li
            a(href='/' + i18n.getLocale() + '/articles') #{i18n.__('Articles')}
          li
            a(href='/' + i18n.getLocale() + '/biography') #{i18n.__('Biography')}
          li
            a(href='/' + i18n.getLocale() + '/exhibitions') #{i18n.__('Exhibitions')}
          li
            a(href='/' + i18n.getLocale() + '/contacts') #{i18n.__('Contacts')}
      block content

if i18n.getLocale() == 'hy'
  link(rel='stylesheet', type='text/css', href='/stylesheets/font-' + i18n.getLocale() + '.css')
script !{js}
